components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
  securitySchemes:
    HTTPBearer:
      scheme: bearer
      type: http
info:
  title: Gen3Workflow
  version: 0.2.0
openapi: 3.1.0
paths:
  /_status:
    get:
      description: Get app status
      operationId: get_status
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response Get Status
                type: object
          description: Successful Response
      summary: Get Status
      tags:
      - System
  /_version:
    get:
      description: Get app version
      operationId: get_version
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response Get Version
                type: object
          description: Successful Response
      summary: Get Version
      tags:
      - System
  /ga4gh/tes/v1/service-info:
    get:
      description: Get details about the GA4GH TES server
      operationId: service_info
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response Service Info
                type: object
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Service Info
      tags:
      - GA4GH TES
  /ga4gh/tes/v1/tasks:
    get:
      description: List the user's GA4GH TES tasks
      operationId: list_tasks
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response List Tasks
                type: object
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: List Tasks
      tags:
      - GA4GH TES
    post:
      description: Create a GA4GH TES task
      operationId: create_task
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response Create Task
                type: object
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Create Task
      tags:
      - GA4GH TES
  /ga4gh/tes/v1/tasks/{task_id}:
    get:
      description: Get a GA4GH TES task
      operationId: get_task
      parameters:
      - in: path
        name: task_id
        required: true
        schema:
          title: Task Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response Get Task
                type: object
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Get Task
      tags:
      - GA4GH TES
  /ga4gh/tes/v1/tasks/{task_id}:cancel:
    post:
      description: Cancel a GA4GH TES task
      operationId: cancel_task
      parameters:
      - in: path
        name: task_id
        required: true
        schema:
          title: Task Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response Cancel Task
                type: object
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - HTTPBearer: []
      summary: Cancel Task
      tags:
      - GA4GH TES
  /s3/{path}:
    delete:
      description: 'Receive incoming signed S3 requests, re-sign them (AWS Signature
        Version 4 algorithm) with the

        appropriate credentials to access the current user''s AWS S3 bucket, and forward
        them to

        AWS S3. The recommended way to use this endpoint is to use an AWS library,
        SDK or CLI.


        The S3 endpoint is exposed at `/s3` as well as at the root `/` to support
        S3 clients that do

        not support S3 endpoints with a path, such as the Minio-go S3 client.'
      operationId: s3_endpoint
      parameters:
      - in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: S3 Endpoint
      tags:
      - S3
    get:
      description: 'Receive incoming signed S3 requests, re-sign them (AWS Signature
        Version 4 algorithm) with the

        appropriate credentials to access the current user''s AWS S3 bucket, and forward
        them to

        AWS S3. The recommended way to use this endpoint is to use an AWS library,
        SDK or CLI.


        The S3 endpoint is exposed at `/s3` as well as at the root `/` to support
        S3 clients that do

        not support S3 endpoints with a path, such as the Minio-go S3 client.'
      operationId: s3_endpoint
      parameters:
      - in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: S3 Endpoint
      tags:
      - S3
    head:
      description: 'Receive incoming signed S3 requests, re-sign them (AWS Signature
        Version 4 algorithm) with the

        appropriate credentials to access the current user''s AWS S3 bucket, and forward
        them to

        AWS S3. The recommended way to use this endpoint is to use an AWS library,
        SDK or CLI.


        The S3 endpoint is exposed at `/s3` as well as at the root `/` to support
        S3 clients that do

        not support S3 endpoints with a path, such as the Minio-go S3 client.'
      operationId: s3_endpoint
      parameters:
      - in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: S3 Endpoint
      tags:
      - S3
    options:
      description: 'Receive incoming signed S3 requests, re-sign them (AWS Signature
        Version 4 algorithm) with the

        appropriate credentials to access the current user''s AWS S3 bucket, and forward
        them to

        AWS S3. The recommended way to use this endpoint is to use an AWS library,
        SDK or CLI.


        The S3 endpoint is exposed at `/s3` as well as at the root `/` to support
        S3 clients that do

        not support S3 endpoints with a path, such as the Minio-go S3 client.'
      operationId: s3_endpoint
      parameters:
      - in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: S3 Endpoint
      tags:
      - S3
    patch:
      description: 'Receive incoming signed S3 requests, re-sign them (AWS Signature
        Version 4 algorithm) with the

        appropriate credentials to access the current user''s AWS S3 bucket, and forward
        them to

        AWS S3. The recommended way to use this endpoint is to use an AWS library,
        SDK or CLI.


        The S3 endpoint is exposed at `/s3` as well as at the root `/` to support
        S3 clients that do

        not support S3 endpoints with a path, such as the Minio-go S3 client.'
      operationId: s3_endpoint
      parameters:
      - in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: S3 Endpoint
      tags:
      - S3
    post:
      description: 'Receive incoming signed S3 requests, re-sign them (AWS Signature
        Version 4 algorithm) with the

        appropriate credentials to access the current user''s AWS S3 bucket, and forward
        them to

        AWS S3. The recommended way to use this endpoint is to use an AWS library,
        SDK or CLI.


        The S3 endpoint is exposed at `/s3` as well as at the root `/` to support
        S3 clients that do

        not support S3 endpoints with a path, such as the Minio-go S3 client.'
      operationId: s3_endpoint
      parameters:
      - in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: S3 Endpoint
      tags:
      - S3
    put:
      description: 'Receive incoming signed S3 requests, re-sign them (AWS Signature
        Version 4 algorithm) with the

        appropriate credentials to access the current user''s AWS S3 bucket, and forward
        them to

        AWS S3. The recommended way to use this endpoint is to use an AWS library,
        SDK or CLI.


        The S3 endpoint is exposed at `/s3` as well as at the root `/` to support
        S3 clients that do

        not support S3 endpoints with a path, such as the Minio-go S3 client.'
      operationId: s3_endpoint
      parameters:
      - in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: S3 Endpoint
      tags:
      - S3
    trace:
      description: 'Receive incoming signed S3 requests, re-sign them (AWS Signature
        Version 4 algorithm) with the

        appropriate credentials to access the current user''s AWS S3 bucket, and forward
        them to

        AWS S3. The recommended way to use this endpoint is to use an AWS library,
        SDK or CLI.


        The S3 endpoint is exposed at `/s3` as well as at the root `/` to support
        S3 clients that do

        not support S3 endpoints with a path, such as the Minio-go S3 client.'
      operationId: s3_endpoint
      parameters:
      - in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: S3 Endpoint
      tags:
      - S3
  /storage/info:
    get:
      description: 'Return details about the current user''s storage setup.

        This endpoint also serves as a mandatory "first time setup" for the user''s
        bucket

        and authz.'
      operationId: storage_setup_2
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response Storage Setup 2
                type: object
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Storage Setup
      tags:
      - Storage
  /storage/setup:
    get:
      description: 'Return details about the current user''s storage setup.

        This endpoint also serves as a mandatory "first time setup" for the user''s
        bucket

        and authz.'
      operationId: storage_setup
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response Storage Setup
                type: object
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Storage Setup
      tags:
      - Storage
  /storage/user-bucket:
    delete:
      description: 'Delete the current user''s S3 bucket


        Note:

        Amazon S3 processes bucket deletion asynchronously. The bucket may

        remain visible for a short period until deletion fully propagates.'
      operationId: delete_user_bucket
      responses:
        '202':
          content:
            application/json:
              schema: {}
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Delete User Bucket
      tags:
      - Storage
  /storage/user-bucket/objects:
    delete:
      description: Deletes all the objects from current user's S3 bucket
      operationId: empty_user_bucket
      responses:
        '204':
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Empty User Bucket
      tags:
      - Storage
